# Copy to .env.local
# MONGODB_URI=mongodb://127.0.0.1:27017/donation_collection

MONGODB_URI=mongodb+srv://dotskillsofficial_db_user:HXA8QSxO9kMQ1x5L@cluster0.xcpxjbz.mongodb.net/?appName=Cluster0
# At least 32 random characters. Generate: openssl rand -base64 48
AUTH_SECRET=5bcd682128f7fe3b20e452702f318662740560461c470488a5879ede6954619a
# Used only by `npm run seed`
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=ChangeMe@12345




dotskillsofficial_db_user


HXA8QSxO9kMQ1x5L